<header class="wrapper row full-center">
  <!-- Logo image -->
  <img src="assets/images/Book-store-logo.svg" alt="Logo image" class="logo" />

  <!-- Navigation -->
  <div class="row gap-1">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/about-us" routerLinkActive="active">About</a>
    <a routerLink="/orders" routerLinkActive="active">Order Management</a> <!-- Add this link -->
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </div>
</header>
